@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

a {
  color: teal;
  transition: 0.3s;
}
a:hover {
  color: turquoise;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header__vote-button {
  width: 176px;
  height: 71px;
  background-color: #811ebd;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  margin-right: 20px;
  border: none;
  transition: 0.3s;
}

.header__vote-button:hover {
  background-color: #8f4cb8;
  box-shadow: 0px 0px 2px rgb(162, 162, 162);
}

.header__contacts-container {
}
.header__heading {
  margin: 0;
  padding: 0;
}
.header__mail {
  margin: 0;
  padding: 0;
}
.href {
}
.vote {


}
.vote__container {
  max-width: 690px;
  background: #a779e2;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* align-items: flex-start; */
  margin: 20px auto 20px auto;
}
.vote__contacts-container {
}
.vote__text {
}
.vote__description {
}
.vote__likes-contain {
}
.vote__like {
}
.vote__dislike {
}