<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
    {% include "menu.html" %}
    {% if no_data %}
        <h3>Please, type something</h3>
    {%  elif error %}
        <li style="color: red"> {{ sum }} </li>
    {% else %}
        <ul>
            <li> A = {{ a }}</li>
            <li> B = {{ b }} </li>
            <hr color="gray">
        </ul>
            {% for res in sum %}
                <li style="color: green"> {{ a }} {{ res.op }} {{ b }} = {{ res.res }}</li>
            {% endfor %}
    {% endif %}
</body>
</html>