<DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>First app</title>

</head>
<body>
    <h3>Hello world!</h3>
    {% include "menu.html" %}
    <h4>My django project</h4>
    <ul>
        <li>Нестатический контент: {{ time }}</li>
    </ul>
    <h4>Словарь слов</h4>
    <ol>
        {% for words in phrases %}
            <li>{{ words }}</li>
        {% endfor %}
    </ol>
    <img src="https://b4.3ddd.ru/media/gallery_images/5d9da558e7e12.jpeg" width="50%">
</body>
</html>
