<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твой голос</title>
    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
    <header class="header">
        <button class="header__vote-button">Твой голос</button>
        <div class="header__contacts-container">
            <h1 class="header__heading">Velosiped</h1>
            <p class="header__mail"><a href="mailto:meil@gmail.com" class="href">meil@gmail.com</a></p>
        </div>
    </header>
    <section class="vote">
        <h2 class="vote__header">Приватные голосования</h2>
        <div class="vote__container">
            <div class="vote__contacts-container">
                <h2 class="vote__text">Александр Павлович</h2>
                <p class="vote__text">Author</p>
            </div>
            <p class="vote__description">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32

            </p>
            <div class="vote__v-line"></div>
            <div class="vote__likes-contain">
                <div class="vote_likes-image-text">
                    <div class="vote__like-image"></div>
                    <div class="vote__like">69</div>
                    
                </div>
                <div class="vote_likes-image-text">
                    <div class="vote__comment-image"></div>
                    <div class="vote__like">69</div>
                </div>
            </div>
        </div>
        <h2 class="vote__header">Публичные голосования</h2>
        <div class="vote__container">
            <div class="vote__contacts-container">
                <h2 class="vote__text">Name</h2>
                <p class="vote__text">Author</p>
            </div>
            <p class="vote__description">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32

            </p>
            <div class="vote__v-line"></div>
            <div class="vote__likes-contain">
                <div class="vote_likes-image-text">
                    <div class="vote__like-image"></div>
                    <div class="vote__like">69</div>
                    
                </div>
                <div class="vote_likes-image-text">
                    <div class="vote__comment-image"></div>
                    <div class="vote__like">69</div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
